* {
    background-size: contain;
    background-repeat: no-repeat;
}

.second::after {
    width: 100%;
}

section:nth-of-type(1) {
    display: flex;
    justify-content: start;
    margin-top: 9.5vw;
    padding: 0vw 3vw;
    margin-bottom: 0vw;
}

.tovar {
    width: 46vw;
    height: 54vw;
    text-decoration: none;
    background-image: url("../images/book_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: -11vw 0vw;
    transition: all 0.3s;
}

.tovar:hover {
    transform: scale(1.05);
}

.about {
    width: 42vw;
    height: 35vw;
    /* background-color: gold; */
    margin-left: 2.3vw;
}

.colors {
    width: 100%;
    height: 6vw;
    display: flex;
    justify-content: start;
    margin-top: 3.2vw;
}

p {
    margin-top: 11.7vw;
}

.button {
    margin-top: 1.8vw;
    width: 14vw;
    height: 4vw;
    padding-top: 1vw;
}

section:nth-of-type(2) {
    margin-top: 1.2vw;
    padding: 0vw 3vw; 
}

.products-rec {
    width: 100%;
    margin-top: 4vw;
    display: flex;
    justify-content: space-between;
}

.products-rec > * {
    transition: all 0.3s;
}

.pins {
    width: 21vw;
    height: 21vw;
    background-image: url("../images/pins_1.png");
}

.bag {
    width: 22vw;
    height: 26vw;
    margin: -4vw;
    background-image: url("../images/bag_1.png");
}

.cap {
    width: 21vw;
    height: 21vw;
    margin: 2vw;
    background-image: url("../images/cap_1.png");
}

.notebook {
    width: 18vw;
    height: 23vw;
    background-image: url("../images/notebook_1.png");
}

.pins:hover, .bag:hover, .cap:hover, .notebook:hover {
    transform: scale(1.1);
}

footer {
    margin-top: 2vw;
}

@media only screen and (max-device-width: 834px) {
    .products-rec {
        flex-wrap: wrap
    }
    .pins {
        width: 41vw;
        height: 41vw;
    }
    .bag {
        width: 46vw;
        height: 48vw;
    }
    .cap {
        width: 40vw;
        height: 40vw;
    }
    .notebook {
        width: 40vw;
        height: 34vw;
        margin-top: 3vw;
    }
}
