* {
    background-size: contain;
    background-repeat: no-repeat;
}

.second::after {
    width: 100%;
}

section:nth-of-type(1) {
    display: flex;
    justify-content: start;
    margin-top: 9.5vw;
    padding: 0vw 3vw;
    margin-bottom: 0vw;
}

.tovar {
    width: 46vw;
    height: 54vw;
    text-decoration: none;
    background-image: url("../images/cap_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: -5vw 0vw;
    transition: all 0.3s;
}

.tovar-black {
    background-image: url("../images/cap_black.png");
}

.tovar:hover {
    transform: scale(1.05);
}

.about {
    width: 42vw;
    height: 35vw;
    /* background-color: gold; */
    margin-left: 2.3vw;
}

.colors {
    width: 100%;
    height: 6vw;
    display: flex;
    justify-content: start;
    margin-top: 3.2vw;
}


.colors > * {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    cursor: pointer;
}

.white {
    background-color: #000;
    border: 0.2vw solid #F0F0F0;
}

.black {
    background-color: #F0F0F0;
    margin-left: 2vw;
}

.chosen {
    transform: scale(1.4);
}

p {
    margin-top: 11.7vw;
}

.button {
    margin-top: 1.8vw;
    width: 14vw;
    height: 4vw;
    padding-top: 1vw;
}

section:nth-of-type(2) {
    margin-top: 2.2vw;
    padding: 0vw 3vw; 
    /* background-color: green; */
}

.products-rec {
    width: 100%;
    margin-top: 4vw;
    display: flex;
    justify-content: space-between;
}

.products-rec > * {
    transition: all 0.3s;
}

.pins {
    width: 21vw;
    height: 21vw;
    background-image: url("../images/pins_1.png");
}

.book {
    width: 28vw;
    margin: -2vw;
    height: 25vw;
    background-image: url("../images/book_1.png");
}

.hoodie {
    width: 24vw;
    height: 24vw;
    margin: -1vw;
    background-image: url("../images/hoodie_1.png");
}

.notebook {
    width: 18vw;
    height: 23vw;
    background-image: url("../images/notebook_1.png");
}

.pins:hover, .book:hover, .hoodie:hover, .notebook:hover {
    transform: scale(1.1);
}

footer {
    margin-top: 2vw;
}

@media only screen and (max-device-width: 834px) {
    .products-rec {
        flex-wrap: wrap
    }
    .pins {
        width: 41vw;
        height: 41vw;
    }
    .book {
        width: 40vw;
        height: 40vw;
    }
    .hoodie {
        width: 40vw;
        height: 40vw;
    }
    .notebook {
        width: 40vw;
        height: 32vw;
    }
    footer {
        margin-top: 4vw;
    }
}


.ghost-tovar {
    width: 30vw;
    height: 21vw;
    position: absolute;
    left: 100vw;
    top: 30vw;
    background-image: url("../images/ghost-tovar.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: ghost-fly-3 2s linear;
    animation-play-state: paused;
}

.fly-3 {
    animation-play-state: running;
}

.none {
    display: none;
}

@keyframes ghost-fly-3 {
    0% {
        left: 100vw;
    }

    50%{
        left: 78vw;
    } 
    100% {
        left: 100vw;
    }
}
