body > div {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}
.center {
    position: relative;
    width: 43vw;
    height: 20vw;
    margin: 14.6vw auto;
    background-image: url("../images/sign_main.png");
    filter: blur(0.6vw);
    transition: all 0.4s;
    /* animation: blink 10s linear alternate infinite; */
}

.center:hover {
    filter: blur(0);
}
.second-1 {
    width: 23vw;
    height: 5.4vw;
    top: 23.3vw;
    left: 7vw;
    background-image: url("../images/sign_2.png");
    animation: move6 4s linear alternate infinite;
    /* animation: blur 3s linear infinite;
    animation-play-state: paused; */
}

.second-1:hover {
    animation-play-state: paused;
}

.first-1 {
    width: 22vw;
    height: 12vw;
    background-image: url("../images/sign_1.png");
    top: 13vw;
    left: 22vw;
    transform: rotate(15deg);
    animation: move9 3s linear alternate infinite;
}

.first-1:hover, .second-1:hover, .third-1:hover, .second-2:hover, .third-2:hover, .second-3:hover, .first-2:hover, .third-3:hover, .first-3:hover, .third-4:hover, .second-4hover, .second-5hover, .third-5:hover, .first-4hover, .second-7hover, .second-8hover, .third-8:hover, .third-9:hover, .third-10:hover, .first-6:hover  {
    animation-play-state: paused;
}

.third-1 {
    width: 17vw;
    height: 6vw;
    background-image: url("../images/sign_3.png");
    top: 7vw;
    left: 35vw;
    transform: rotate(-12deg);
    animation: move15 3.5s linear alternate infinite;
}

.second-2 {
    width: 16vw;
    height: 5vw;
    top: 11.3vw;
    left: 3vw;
    background-image: url("../images/sign_2.png");
    transform: rotate(22deg);
    animation: move17 3s linear alternate infinite;
}

.third-2 {
    width: 21vw;
    height: 6vw;
    background-image: url("../images/sign_3.png");
    top: 18vw;
    left: 2vw;
    transform: rotate(-12deg);
    animation: move21 3.5s linear alternate infinite;
}

.second-3 {
    width: 17vw;
    height: 5vw;
    top: 12.3vw;
    left: 42vw;
    background-image: url("../images/sign_2.png");
    transform: rotate(2deg);
    animation: move13 5s linear alternate infinite;
}

.first-2 {
    width: 11vw;
    height: 5vw;
    background-image: url("../images/sign_1.png");
    top: 10vw;
    left: 62vw;
    transform: rotate(-35deg);
    animation: move5 3.5s linear alternate infinite;
}

.third-3 {
    width: 22vw;
    height: 6vw;
    background-image: url("../images/sign_3.png");
    top: 23vw;
    left: 45vw;
    transform: rotate(-12deg);
    animation: move1 6s linear alternate infinite;
}

.first-3 {
    width: 27vw;
    height: 11vw;
    background-image: url("../images/sign_1.png");
    top: 15vw;
    left: 67vw;
    transform: rotate(12deg);
    animation: move2 3s linear alternate infinite;
}

.third-4 {
    width: 18vw;
    height: 5vw;
    background-image: url("../images/sign_3.png");
    top: 13vw;
    left: 79vw;
    transform: rotate(-12deg);
    animation: move16 5s linear alternate infinite;
}

.second-1:hover {
    animation-play-state: running;
}

.second-4 {
    width: 17vw;
    height: 5vw;
    top: 32vw;
    left: 2vw;
    background-image: url("../images/sign_2.png");
    transform: rotate(-8deg);
    animation: move12 3s linear alternate infinite;
}

.second-5 {
    width: 21vw;
    height: 7vw;
    top: 26.3vw;
    left: 76vw;
    background-image: url("../images/sign_2.png");
    transform: rotate(-18deg);
    animation: move11 4s linear alternate infinite;
}

.third-5 {
    width: 14vw;
    height: 4vw;
    background-image: url("../images/sign_3.png");
    top: 38vw;
    left: 6vw;
    transform: rotate(18deg);
    animation: move20 3.5s linear alternate infinite;
}

.first-4 {
    width: 27vw;
    height: 11vw;
    background-image: url("../images/sign_1.png");
    top: 38vw;
    left: 12vw;
    transform: rotate(-9deg);
    animation: move4 4s linear alternate infinite;
}

.second-7 {
    width: 19vw;
    height: 7vw;
    top: 48.3vw;
    left: 28vw;
    background-image: url("../images/sign_2.png");
    transform: rotate(-28deg);
    animation: move14 5s linear alternate infinite;
}

.second-8 {
    width: 16vw;
    height: 4vw;
    top: 42.3vw;
    left: 50vw;
    background-image: url("../images/sign_2.png");
    transform: rotate(-28deg);
    animation: move18 3.5s linear alternate infinite; 
}

.third-8 {
    width: 23vw;
    height: 6vw;
    background-image: url("../images/sign_3.png");
    top: 48vw;
    left: 39vw;
    transform: rotate(-5deg);
    animation: move8 3s linear alternate infinite;
}

.third-9 {
    width: 22vw;
    height: 6vw;
    background-image: url("../images/sign_3.png");
    top: 37vw;
    left: 64vw;
    transform: rotate(15deg);
    animation: move3 4s linear alternate infinite;
}

.third-10 {
    width: 13vw;
    height: 3vw;
    background-image: url("../images/sign_3.png");
    top: 32vw;
    left: 84vw;
    transform: rotate(-45deg);
    animation: move19 3.5s linear alternate infinite;
}

.first-6 {
    width: 10vw;
    height: 4vw;
    background-image: url("../images/sign_1.png");
    top: 41vw;
    left: 87vw;
    transform: rotate(41deg);
    animation: move7 5s linear alternate infinite;
}

@keyframes blur {
    0% {filter:blur(0)}
    50% {filter:blur(0.4vw)}
    100% {filter:blur(0)}
}

@keyframes blink {
    from {filter: blur(0)}
    to {filter:blur(0.6vw)}
}

@keyframes move1 {
    from {
        top: 23vw;
        left: 45vw;
        transform: rotate(-12deg);
    }

    to {
        top: 19vw;
        left: 43vw;
        transform: rotate(-3deg);
        filter: blur(0.2vw);
    }
}

@keyframes move2 {
    from {
        top: 15vw;
        left: 67vw;
        transform: rotate(12deg);
    }

    to {
        top: 16vw;
        left: 65vw;
        transform: rotate(14deg);
        filter: blur(0.2vw);
    }
}

@keyframes move3 {
    from {
        top: 37vw;
        left: 64vw;
        transform: rotate(15deg);
    }

    to {
        top: 40vw;
        left: 66vw;
        transform: rotate(-8deg);
        filter: blur(0.3vw);
    }
}

@keyframes move4 {
    from {
        top: 38vw;
        left: 12vw;
        transform: rotate(-9deg);
    }

    to {
        top: 40vw;
        left: 14vw;
        transform: rotate(-16deg);
        filter: blur(0.3vw);
    }
}

@keyframes move5 {
    from {
        top: 10vw;
        left: 62vw;
        transform: rotate(-35deg);
    }

    to {
        top: 8vw;
        left: 63vw;
        transform: rotate(-38deg);
        filter: blur(0.3vw);
    }
}

@keyframes move6 {
    from {
        top: 23.3vw;
        left: 7vw;
    }

    to {
        top: 23.3vw;
        left: 3vw;
        transform: rotate(-6deg);
        filter: blur(0.4vw);
    }
}

@keyframes move7 {
    from {
        top: 41vw;
        left: 87vw;
        transform: rotate(41deg);
    }

    to {
        top: 44vw;
        left: 88vw;
        transform: rotate(43deg);
        filter: blur(0.2vw);
    }
}

@keyframes move8 {
    from {
        top: 48vw;
        left: 39vw;
        transform: rotate(-5deg);
    }

    to {
        top: 50vw;
        left: 42vw;
        transform: rotate(-1deg);
        filter: blur(0.2vw);
    }
}

@keyframes move9 {
    from {
        top: 12vw;
        left: 22vw;
        transform: rotate(15deg);
    }

    to {
        top: 15vw;
        left: 27vw;
        transform: rotate(21deg);
        filter: blur(0.2vw);
    }
}

@keyframes move11 {
    from {
        top: 26.3vw;
        left: 76vw;
        transform: rotate(-18deg);
    }

    to {
        top: 28.3vw;
        left: 73vw;
        transform: rotate(-15deg);
        filter: blur(0.2vw);
    }
}

@keyframes move12 {
    from {
        top: 32vw;
        left: 2vw;
        transform: rotate(-8deg);
    }

    to {
        top: 34vw;
        left: 2.5vw;
        transform: rotate(-2deg);
        filter: blur(0.2vw);
    }
}

@keyframes move13 {
    from {
        top: 12.3vw;
        left: 42vw;
        transform: rotate(2deg);
    }

    to {
        top: 14.3vw;
        left: 42.5vw;
        transform: rotate(-4deg);
        filter: blur(0.2vw);
    }
}

@keyframes move14 {
    from {
        top: 43.3vw;
        left: 33vw;
        transform: rotate(-28deg);
    }

    to {
        top: 41.3vw;
        left: 35vw;
        transform: rotate(-20deg);
        filter: blur(0.3vw);
    }
}

@keyframes move15 {
    from {
        top: 7vw;
        left: 35vw;
        transform: rotate(-12deg);
    }

    to {
        top: 6vw;
        left: 32vw;
        transform: rotate(-20deg);
        filter: blur(0.3vw);
    }
}

@keyframes move16 {
    from {
        top: 13vw;
        left: 79vw;
        transform: rotate(-12deg);
    }

    to {
        top: 14vw;
        left: 76vw;
        transform: rotate(-20deg);
        filter: blur(0.3vw);
    }
}

@keyframes move17 {
    from {
        top: 11.3vw;
        left: 3vw;
        transform: rotate(22deg);
    }

    to {
        top: 14vw;
        left: 5vw;
        transform: rotate(27deg);
        filter: blur(0.3vw);
    }
}

@keyframes move18 {
    from {
        top: 42.3vw;
        left: 50vw;
        transform: rotate(-28deg);
    }

    to {
        top: 38x.3vw;
        left: 54vw;
        transform: rotate(12deg);
        filter: blur(0.3vw);
    }
}


@keyframes move19 {
    from {
        top: 30vw;
        left: 84vw;
        filter: blur(0.3vw);
    }

    to {
        top: 34vw;
        left: 83vw;
        filter: blur(0vw);
    }
}

@keyframes move20 {
    from {
        top: 38vw;
        left: 6vw;
        transform: rotate(18deg);
    }

    to {
        top: 39vw;
        left: 4vw;
        transform: rotate(2deg);
        filter: blur(0.2vw);
    }
}


@keyframes move21 {
    from {
        top: 18vw;
        left: 2vw;
        transform: rotate(-12deg);
    }
    
    to {
        top: 16vw;
        left: 3vw;
        transform: rotate(2deg);
        filter: blur(0.2vw);
    }
}
