.second::after {
    width: 100%;
}

a{
    text-decoration: none;
}

.prod_link {
    margin: 7.2vw 2.9vw;
}
.cart_link {
    margin: -11.7vw 35vw;
}

.prod_link h1 {
    margin: 7.2vw 2.9vw;
}

.cart_link h2 {
    margin: -12.7vw 35vw;
    color: #888888;
}

/* Сумка */
.bag {
    width: 43vw;
    height: 48vw;
    margin-top: 9vw;
    margin-left: -2vw;
}

.image-bag {
    display: inline-block;
    width: 100%;
    height: 51vw;
    background-image: url("../images/bag_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.3s
}

.about-bag {
    width: 12vw;
    height: 5vw;
    margin: -10vw 7vw;
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon:hover {
    transform: scale(1.1);
}

/* Блокнот */
.notebook {
    width: 23vw;
    height: 35vw;
    margin-top: -36.1vw;
    margin-left: 41.9vw;
}

.image-notebook {
    display: inline-block;
    width: 100%;
    height: 32vw;
    background-image: url("../images/notebook_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.about-notebook {
    position: relative;
    z-index: 10;
    width: 13vw;
    height: 5vw;
    margin: -5vw 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Значки */
.pins {
    width: 33vw;
    height: 34vw;
    margin-top: -41.2vw;
    margin-left: 62.4vw;
}

.image-pins {
    display: inline-block;
    width: 100%;
    height: 32vw;
    background-image: url("../images/pins_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.about-pins {
    position: relative;
    z-index: 11;
    width: 12vw;
    height: 5vw;
    margin: -7vw 21vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Толстовка */
.hoodie {
    width: 39vw;
    height: 45vw;
    margin-top: 6.8vw;
    margin-left: 0.4vw;
}

.image-hoodie {
    display: inline-block;
    width: 100%;
    height: 40vw;
    background-image: url("../images/hoodie_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.about-hoodie {
    position: relative;
    z-index: 12;
    width: 15vw;
    height: 5vw;
    margin: -34vw 28vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.book {
    width: 38vw;
    height: 38vw;
    margin: -37vw 36vw;
}

.image-book {
    display: inline-block;
    width: 100%;
    height: 38vw;
    background-image: url("../images/book_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.about-book {
    position: relative;
    z-index: 13;
    width: 12vw;
    height: 5vw;
    margin: -11vw 29vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cap {
    width: 32vw;
    height: 23vw;
    margin: -49vw 64vw;
}

.image-cap {
    display: inline-block;
    width: 100%;
    height: 30vw;
    background-image: url("../images/cap_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.about-cap {
    position: relative;
    z-index: 13;
    width: 11vw;
    height: 5vw;
    margin: -28vw 24vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-bag:hover, .image-notebook:hover, .image-pins:hover, .image-hoodie:hover, .image-book:hover, .image-cap:hover {
    transform: scale(1.03) rotate(5deg);
}

.icon {
    width: 4vw;
    height: 4vw;
    display: inline-block;
    background-image: url("../images/cart_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.3s;
}

footer {
    margin-top: 79vw;
}

@media only screen and (max-device-width: 900px) {
    .cart_link h2 {
        margin: -14.2vw 35vw;
    }
    .cap {
        margin-left: 60vw;
    }
}

@media only screen and (max-device-width: 500px) {
    .cart_link h2 {
        margin: -14.6vw 35vw;
    }

    .bag {
        width: 63vw;
        height: 58vw;
        margin-left: 14vw;
    }

    .image-bag {
        height: 75vw;
    }

    .about-bag {
        width: 24vw;
        margin: -24vw 52vw;
    }

    .notebook {
        width: 44vw;
        height: 50vw;
        margin-top: 18.9vw;
        margin-left: 25.9vw;
    }

    .image-notebook {
        height: 56vw;
    }

    .about-notebook {
        width: 27vw;
        margin: -15vw -21vw;
    }

    .pins {
        width: 59vw;
        height: 43vw;
        margin-top: 16.8vw;
        margin-left: 16.6vw;
    }
    .image-pins {
        height: 55vw;
    }

    .about-pins {
        width: 26vw;
        margin: -19vw 48vw;
    }

    .hoodie {
        width: 54vw;
        height: 55vw;
        margin-top: 13.8vw;
        margin-left: 27.4vw;
    }
    .image-hoodie {
        height: 62vw;
        margin: -51vw -20vw;
    }

    .about-hoodie {
        width: 6vw;
    }

    .book {
        width: 60vw;
        height: 60vw;
        margin: 5vw 13vw;
    }
    .image-book {
        height: 60vw;
    }

    .about-book {
        width: 23vw;
        margin: -33vw 54vw;
    }
    .cap {
        width: 50vw;
        height: 25vw;
        margin: 5vw 18vw;
    }
    .image-cap {
        height: 50vw;
    }

    .about-cap {
        width: 24vw;
        margin: -44vw 41vw;
    }

    section h3 {
        font-size: 4vw;
    }
    section p {
        font-size: 3vw;
        margin-top: 1.8vw;
    }
    .icon {
        width: 8vw;
        height: 8vw;
    }
    footer {
        margin-top: 19vw;
    }
}
